.method_choose{
	&_lists{
		padding-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		height: 100%;
		overflow-y: auto;
		&::-webkit-scrollbar{
			display: none;
		}
	}
	&_list{
		flex: 1;
		min-height: 150px;
		padding: 10px 14px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 10px;
		border: 1px solid $default-ddd;
		border-radius: $main-br;
		cursor: pointer;
		&:hover{
			border-color: $main-accent-color;
			>div{
				transform: scale(1.2);
			}
		}
		&_incomp{
			@extend .method_choose_list;
			border: 1px solid $main-accent-color;
		}
	}
	&_img{
		display: flex;
		transition: transform 0.24s cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	&_title{
		font-size: 1.6em;
	}
	&_sub_title{
		color: $main-accent-color;
	}
	&_contents{
		color: $sub-text-color;
	}
}