.quiz{
	&_progress_bar{
		position: absolute;
		top: -24px;
		left: 0;
		height: 6px;
		width: 100%;
		background-color: $main-accent-color;
		transition: width 0.3s ease;
	}
	&_progress_indicator{
		position: absolute;
		left: 16px;
		bottom: 16px;
		color: $sub-text-color;
	}
	&_ani{
		position: absolute;
		top: 0;
		transform: scale(0.7);
	}
	&_wrap{
		height: 100%;
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 24px;
	}
	&_area{
		position: relative;
		flex: 1;
		border: 1px solid $default-ddd;
		border-radius: $sub-br;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 16px;
		padding: 24px;
		line-height: 1.5;
	}
	&_question{
		font-size: clamp(1.2em, 24px, 2vw);
		font-weight: bold;
		word-break: keep-all;
		text-align: center;
	}
	&_correct{
		font-size: 1em;
		font-weight: bold;
		color: $main-accent-color;
		word-break: keep-all;
		&_bg{
			width: 100px;
			height: 32px;
			border: 1px solid $main-accent-color;
			border-radius: $sub-br;
		}
	}
}

.quiz_answer{
	&_area{
		flex: 1;
	}
	&_lists{
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 12px;
		li{
			padding: 0 14px;
				flex: 1;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $default-ddd;
				border-radius: $sub-br;
				cursor: pointer;
				&.correct{
					border: 1px solid $main-accent-color !important;
					background-color: $main-accent-color !important;
					color: $default-fff;
				}
				&.wrong{
					border-color: $wrong-color;
					color: $wrong-color;
				}
		}
	}
}

.false{
	.quiz_area,.active{
		border-color: $wrong-color !important;
	}
}
.true{
	.quiz_area{
		border-color: $sub-correct-color;
	}
}

.false,.true{
	.quiz_correct{
		width: auto;
		height: auto;
		border: 0;
	}
}