.word_tab {
	&_wrap{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: $main-p;
		margin: 24px 0 0;
		gap: 8px;
	}
	@include tab(btn);
}

.word_tab_view{
	@include tab(text);
}