.modal_wrap {
  .voca_book_wrap {
    margin-top: 0;
  }
}
.voca_book {
	@include layoutDefault();
  &_top {
    padding: 0 12px;
    justify-content: flex-end;
    button {
      @include btnNext(cog);
    }
  }
  &_lists {
    padding: 0 14px;
    margin-top: 14px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12px;
  }
  &_list {
    @include bookList($default-fff, $main-bg-color);
  }
}
