.word_relative_wrap{
	position: relative;
	z-index: 1;
	&.on:has(li){
		input{
			border-radius: 8px 8px 0 0;
			border-bottom: 0;
		}
		.word_relative_layer{
			display: block;
		}
		.word_relative_layerfix{
			display: block;
		}
	}
}

.word_relative_layer{
	@include dropDownInput;
}
.word_relative_layerfix{
	@include dropdownLayerFix;
}