.word_relative_wrap{
	position: relative;
	z-index: 1;
	&.on:has(li){
		input{
			border-radius: 8px 8px 0 0;
			border-bottom: 0;
		}
		.word_relative_layer{
			display: block;
		}
		.word_relative_layerfix{
			display: block;
		}
	}
}

.word_relative_layer{
	display: none;
	position: absolute;
	top: 57px;
	left: 0;
	width: 100%;
	&_lists{
		padding: 12px 0;
		background-color: $default-fff;
		border: 1px solid $default-ddd;
		border-radius: 0 0 8px 8px;
	}
	&_list{
		padding: 6px 12px;
		font-size: 14px;
		color: $main-text-color;
		cursor: pointer;
		&:hover{
			background-color: rgba(74,68,83,0.04);
		}
	}
}
.word_relative_layerfix{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	inset: 0;
	z-index: -1;
}