.permission {
  min-height: 60dvh;
  margin-top: 24px;
  scroll-padding: 4px;
	&_sect{
		margin-top: 24px;
	}
  &_lists {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    * {
      @include fontSize(s);
    }
  }
  &_list {
    padding: 10px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    i {
      color: $sub-text-color;
    }
  }
  &_img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    overflow: hidden;
    img {
      object-fit: cover;
      object-position: center;
    }
  }
  &_btn {
    margin-left: auto;
    > button {
      padding-right: 4px;
      display: flex;
      align-items: center;
      gap: 8px;
      color: $default-666;
    }
  }
  &_relative {
    position: relative;
    z-index: 1;
    &.on:has(li) {
      input {
        border-radius: 8px 8px 0 0;
        border-bottom: 0;
      }
      .permission_relative_layer {
        display: block;
      }
      .permission_relative_layerfix {
        display: block;
      }
    }
  }

  &_relative_layer {
    @include dropDownInput() {
      width: calc(100% - 86px);
      &_list {
        display: flex;
        align-items: center;
        gap: 8px;
      }
      &_img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        overflow: hidden;
        img {
          object-fit: cover;
          object-position: center;
        }
      }
    }
  }
  &_relative_layerfix {
    @include dropdownLayerFix;
  }
}
