.modal_bottom{
	
	// 켜지는 클래스
	&.on{
		position: fixed;
		left: calc(50% - 300px);
		width: 600px;
		height: 100%;
		box-sizing: border-box;
		background: #f8f8f8a9;
		backdrop-filter: blur(8px);
		transition: transform 0.3s ease;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #00000040;
		.modal_bottom_wrap{
			transform: translateY(0);
		}
	}
	&_wrap{
		position: fixed;
		left: 0;
		bottom: 0;
		width: 600px;
		min-height: 50vh;
		background: $default-fff;
		border-radius: 20px 20px 0 0;
		z-index: 100;
		transition: all 0.4s linear;
		transform: translateY(100%);
		@include deviceSmall(){
			width: 100%;
			min-height: auto;
		}
	}
	h2{
		padding: 14px 12px;
		font-size: 1em;
	}
	&_dragable{
		padding-top: 16px;
		padding-bottom: 10px;
		display: flex;
		align-items: center;
		justify-content: center;
		&::before{
			content: "";
			display: block;
			width: 12px;
			height: 3px;
			background: $default-ddd;
		}
	}
	&_cont{
		padding: 0 14px;
	}
	&_btn{
		padding: 0 14px;
		margin-top: 20px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 12px;
	}

}