$vertical-height : 50px;
.vb-vertical{
	&-wrap{
		height: 150px;
		overflow: hidden;
	}
	&-swiper{
		overflow: visible !important;
		height: $vertical-height;
	}
	&-slide{
		display: flex !important;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid $default-ddd;
	}
}

