*{
  margin: 0;
  padding: 0;
}

html body{
  font-family: 'NanumGothic';
}

body::-webkit-scrollbar{
  width: 10px;
}

ul,ol,dl{
  list-style: none;
}

a{
  text-decoration: none;
  color: #333;
}

button{
  border: none;
  outline: none;
  
}

.disN{
  display: none;
}

.flex{
  display: flex;
}

nav{
  width: 1280px;
  margin:  0 auto;
  padding: 10px 0;
}

.wrap{
  width: 1280px;
  margin: 0 auto;
}

.search_wrap{
  width: 50%;
  margin: 0 auto;
  padding: 80px 0 0;
  position: relative;
}

.seacrch_cont{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #356afd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 30px;
}

.s_text{
  padding: 10px 15px;
  font-size: 22px;
  border: 0;
  width: 80%;
}

.s_text:focus-visible{
  outline: 0;
}

.search_icon{
  cursor: pointer;
  font-size: 40px;
  color: #356afd;
  background: none;
}

.s_pop{
  position: absolute;
  width: 100%;
  overflow: hidden;
  transition: 0.36s ease;
  height: 0;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background: #fff;
  z-index: 10;
}

.s_pop.on{
  height: 100%;
}

.s_pop_cont{
  padding: 20px;

}

.s_pop p{
  padding: 6px 0;
  border-bottom: 1px solid #999;
}

.s_pop ul li{
  padding: 10px 0;
  justify-content: space-between;
}

.s_pop ul li a{
  display: block;
  width: 100%;
}

.s_pop ul li button{
  padding: 6px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.36s ease;
}

.s_pop ul li button:hover,
.s_pop ul li button:focus{
  background: #ccc;
}

/* 단어장 탑부분 */
.word_top{
  justify-content: space-between;
  align-items: center;
  margin: 30px 0 0;
}

.word_plus{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  padding: 6px 20px;
  transition: 2s all;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.word_plus:not(:disabled):hover,
.word_plus:not(:disabled):focus {
  outline: 0;
  background: #356afd;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.word_plus:disabled {
  filter: opacity(0.8);
  -webkit-filter: opacity(0.8);
  cursor: not-allowed;
}

.word_plus i{
  font-size: 30px;
  padding-right: 10px;
}

/*단어장 탭부분*/

.word_tab_area{
}

.word_tab_area div{
  cursor: pointer;
  padding: 15px 0;
  margin: 0 20px;
  position: relative;
}

.word_tab_area div.active{
  font-weight: bold;
}

.word_tab_area div.active::before{
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #356afd;
}

/*단어장 내용부분*/

.word_wrap{
  width: 100%;
  margin: 30px auto;
}

.word_cont{
}

.word{
  margin-bottom: 10px;
  padding: 15px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 4px;

}

.word:last-child{
  margin: 0;
}

.top_area{
  justify-content: space-between;
}

.top_area span,
.top_area .xi-headset::before{
  font-size: 24px;
}

.top_area .xi-headset{
  cursor: pointer;
}

.listen.on{
  color: #356afd;
}

.mid_area{
  padding: 10px 0;
}

.mean_wrap{
  padding: 15px;
  background: #e9e9e9;
  border-radius: 6px;
}

.synonym_wrap{
  padding: 15px;
}

.synonym_wrap span{
  display: block;
  width: 60px;
  padding: 4px 5px;
  margin-right: 30px;
  background: #356afd;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  color: #fff;
  border-radius: 30px;
  text-align: center;
  vertical-align: middle;
}

.synonym_cont{
  align-items: center;
  justify-content: center;
}

.synonym_cont p{
  margin-right: 20px;
}

/*단어장 아랫부분*/

.foot_area{
  justify-content: space-between;
}

.check,
.memo,
.close{
  cursor: pointer;
  background: none;
  font-size: 24px;
  transition: 0.36s ease;
  margin-left: 20px;
}

.check.on{
  color: #356afd;
  content: "\e92b";
}

.check.on i::before{
  content: "\e92b";
}

.close:hover,
.close:focus-visible{
  color: #356afd;
}

.memo.on{
  color: #356afd;
}

/*메모칸*/

.memo_area{
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease;
  margin-bottom: 10px;
}

.memo_area.on{
  max-height: 200px;
}

.memo_text{
  display: block;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  background: #b8d6ff57;
  font-size: 13px;
  color: #333;
  line-height: 1.1;
  height: 80px;
  border: 1px solid #b8d6ff9c;
  outline: 0;
  transition: 0.4s all;
  border-radius: 6px;
  outline-color: #b8d6ff57;
}

.memo_text:focus-visible{
  outline: 1px solid #b8d6ff9c;
  background: #ffffff59;
}

.memo_text::-webkit-scrollbar {
  width: 6px;
}

.memo_text::-webkit-scrollbar-thumb{
  height: 30px; 
  background: #81b5fd; 
  
  border-radius: 10px;
}

.memo_text::-webkit-scrollbar-track{
  background: rgba(33, 122, 244, .1);
}

.memo_area .btn_area{
  justify-content: end;
  width: 95%;
  margin: 10px auto;
}

.btn_area .cancle_memo,
.btn_area .save_memo{
  border: 1px solid #999;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 16px;
  transition: all 0.4s ease-in;
  margin-left: 15px;
  cursor: pointer;
}

.btn_area .cancle_memo{
  background: #fff;
  color: #fd3582;
  border-color: #fd3582;
}

.btn_area .cancle_memo:hover{
  background: #fd3582;
  color: #fff;
}

.btn_area .cancle_memo:focus,
.btn_area .save_memo:focus{
  transform: scale(0.95);
}

.btn_area .save_memo:hover{
  background: #333;
  color: #fff;
}

/* edit 모드 */

.word.edit{
  background: #dde7f3;
}

.edit .mean_wrap{
  display: flex;
  background: #b8d6ff;
  padding: 3px;
  border-radius: 4px;;
}

.edit .top_area{
  background: #b8d6ff;
  padding: 3px;
  border-radius: 4px;
}

.edit input{
  background: #fff;
  opacity: 0.6;
  transition: 0.3s ease-in;
  padding: 3px 15px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.edit .synonym_wrap::after{
  content: "";
  display: block;
  clear: both;
}

.edit .synonym_wrap span{
  margin-bottom: 15px;
}

.edit .synonym_cont{
  flex-wrap: wrap;
  justify-content: flex-start;
}

.edit .synonym_add{
  margin: 10px 36px 10px 0;
  align-items: center;
}

.edit .synonym_add:nth-child(5n){
  margin-right: 0;
}

.edit .synonym_cont input{
  width: 170px;
  height: 20px;
  font-size: 14px;
  padding: 3px 0;
  text-indent: 15px;
  margin-right: 5px;
}

.edit input:focus{
  opacity: 1;
}

.edit .synonym_add button{
  background: none;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  padding: 0 10px;
}

.edit .synonym_add button:hover,
.edit .synonym_add button:focus-visible{
  opacity: 0.5;
}

.edit .top_area .headset{
  display: none;
}

.edit .synonym_plus{
  font-size: 19px;
  width: 170px;
  height: 26px;
  /* background: #81b5fd; */
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.4s;
  line-height: 30px;
  color: #fff;
}

.edit .synonym_plus:hover{
  opacity: 0.7;
}