*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PretendardJP';
  src: url(/public/PretendardJP-Medium.woff);
}

button{
  font-family: 'PretendardJP', sans-serif;
}

.btn{
  display: flex;
  width: 3.875rem;
  height: 1.625rem;
  padding: 0.6875rem 6.375rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.875rem;
  font-family: 'PretendardJP', sans-serif;
  cursor: pointer;
}


html body{
  font-family: 'PretendardJP';
  color: #202020;
}

body::-webkit-scrollbar{
  width: 10px;
}

ul,ol,dl{
  list-style: none;
}

a{
  text-decoration: none;
  color: #202020;
}

button{
  border: none;
  outline: none;
  
}

.disN{
  display: none;
}

.flex{
  display: flex;
}

nav{
  width: 1280px;
  margin:  0 auto;
  padding: 10px 0;
}

.wrap{
  width: 1280px;
  margin: 0 auto;
}

.search_wrap{
  width: 50%;
  margin: 0 auto;
  padding: 80px 0 0;
  position: relative;
  z-index: 100;
}

.seacrch_cont{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 30px;
  background-image: linear-gradient(#fff, #fff), 
  linear-gradient(to right, #81b5fd 0%, #946cf4 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.seacrch_cont::before{
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 30px;
  height: 30px;
  background: url(/public/img/logo.svg);
  background-size: cover;
}

.s_text{
  padding: 10px 15px;
  border: 0;
  width: 80%;
}

.s_text:focus-visible{
  outline: 0;
}

.search_icon{
  margin-top: 3px;
  cursor: pointer;
  font-size: 40px;
  color: #356afd;
  background: none;
}

/* 단어장 폴더 */
.folder_wrap{}

.folder_cont{
  margin: 30px 0 0;
  flex-wrap: wrap;
}

.folder_cont::-webkit-scrollbar{
  
}

.folder_cont li{
  margin: 0 0 15px 15px;
  padding: 10px 13px;
  font-size: 18px;
  background: #f7f5fc;
  color: #946CF4;
  border-radius: 18px;
  max-width: 40px;
  cursor: pointer;
  transition: 0.2s all;
  text-transform: uppercase;
}

.folder_cont li:nth-child(2n){
  border: 1px solid #946CF4;
  color: #f7f5fc;
  background: #946CF4;
}

.folder_cont li.on{
  background: #fff;
  color: #5468ff;
  box-shadow: #5468ff 0px 3px 8px;
  max-width: 200px;
}

.folder_cont li:hover,
.folder_cont li:focus-visible{
  background: #fff;
  color: #5468ff;
  box-shadow: #5468ff 0px 3px 8px;
  max-width: 200px;
}

/* 단어장 탑부분 */
.word_top{
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 0;
}

.word_plus_wrap{
  position: relative;
  border-radius: 20px;
}

.word_plus{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  /* background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%); */
  border-radius: 20px;
  color: #946CF4;
  background: #f7f5fc;
  box-shadow: -1px 1px 8px rgba(0,0,0,.1);
  cursor: pointer;
  font-weight: bold;
  padding: 6px 20px;
  transition: box-shadow .2s ease-in-out;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.word_plus

.word_plus:not(:disabled):hover ,
.word_plus:not(:disabled):focus {
  outline: 0;
  /* box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #5adaff, .125rem .125rem 1rem #5468ff; */
  box-shadow: 0 0 0.25rem #946CF4, -0.125rem -0.125rem 1rem #bac9f6, 0.125rem 0.125rem 1rem #946CF4;
}

.word_plus:disabled {
  filter: opacity(0.8);
  -webkit-filter: opacity(0.8);
  cursor: not-allowed;
}

.word_plus_mobile{
  position: fixed;
  bottom: 5%;
  right: 2%;
  width: 40px;
  height: 40px;
  display: none;
  visibility: hidden;
  opacity: 0;
  transition: all 3s ease-in;
  background: #BAC9F6;
  color: #fff;
  font-size: 1.3em;
  border-radius: 50%;
  z-index: 10;
}

.word_plus_mobile::before{
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 120%;
  height: 120%;
  background: #bac9f698;
  border-radius: 50%;
  z-index: -1;
  animation: bloom 1s 3s linear alternate infinite;
}

@keyframes bloom {
  100%{
    background: #bac9f698;
    width: 130%;
    height: 130%;
  }
}

.word_plus_mobile i.xi-plus{
  font-weight: 600;
}

.word_plus i{
  font-size: 30px;
  padding-right: 10px;
}

/*단어장 탭부분*/

.word_tab_area{
  gap: 11px;
}

.word_tab_area div{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.4375rem;
  padding: 0.5rem 0;
  cursor: pointer;
  position: relative;
  background: #f7f5fc;
  border-radius: 20px;
  transition: background 0.2s ease;
}

.word_tab_area div.active{
  font-weight: bold;
  background: #fff;
  box-shadow: 0 0 0.25rem #946CF4;
  box-sizing: border-box;
}



/*단어장 내용부분*/

.word_wrap{
  position: relative;
  width: 100%;
  margin: 30px auto;
}

.book-clip{
  position: absolute;
  top: -10px;
  left: 8px;
  width: 60px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  background: #03CDBF;
  border-radius: 6px 6px 0 0;
}

.word_cont{
}

.word{
  margin-bottom: 1.625rem;
  padding: 1.25rem;
  box-shadow: -1px 1px 8px rgba(0,0,0,.1);
  border-radius: 0.5rem;
  background: #f7f5fc;
}

/* 영어 단어 컴포넌트 */

.word.word-e .mid_area .mean_wrap{
  gap: 0.5625rem;
}

.word-e .synonym_wrap{
  flex-direction: column;
  gap: 0.75rem;
}

.word-e .synonym_cont{
  justify-content: flex-start;
  gap: 0.69rem;
}

.word-e .synonym-area{
  display: flex;
  gap: 0.69rem;
}

.word-e .e-vn{
  gap: 0.1875rem;
}

.word .synonym_wrap span{
  margin: 0;
}

.word-e .e-vn span{
  width: auto;
  margin: 0;
  background: none;
}

.word-e .e-vn span:last-child{
  color: #999;
}

/* 영어 에딧 컴포넌트 */

.e-edit.edit .synonym_wrap .e-vn span{
  width: 40%;
}

.top_area{
  justify-content: space-between;
}

.top_word_wrap{
  word-break: break-all;
}

.top_word_wrap .icon{
  margin: 0;
  margin-right: 11px;
}

.top_area button{
  background: none;
}

.top_area .read{
  font-weight: 400;
  font-size: 1rem;
  margin-left: 0.25rem;
}

.top_area span,
.top_area .xi-headset::before{
  font-size: 24px;
}

.top_area .xi-headset{
  cursor: pointer;
}

.listen.on{
  color: #356afd;
}

.mid_area{
  padding: 10px 0;
}

.mean_wrap{
  padding:  11px 2px;
  /* border-radius: 1.25rem;
  background: #BAC9F6; */
  color: #946CF4;
}

.synonym_wrap{
  padding: 15px 0;
}

.synonym_wrap span{
  display: block;
  width: 60px;
  padding: 5px 7px;
  margin-right: 15px;
  border-radius: 1.875rem;
  background: #CBD8FF;
  text-align: center;
  vertical-align: middle;
}

.synonym_cont{
  align-items: center;
  justify-content: center;
}

.synonym_cont p{
  margin-right: 20px;
}

/*단어장 아랫부분*/

.foot_area{
  justify-content: space-between;
}

.icon{
  cursor: pointer;
  background: none;
  font-size: 24px;
  transition: 0.36s ease;
  margin-left: 20px;
  transition: color 0.3s ease;
}

.icon:hover,
.icon:focus{
  color: #946CF4;
}

.icon.on{
  color: #946CF4;
}

.check.on{
  content: "\e92b";
}

.check.on i::before{
  content: "\e92b";
}



/*메모칸*/

.memo_area{
  width: 100%;
  /* max-height: 200px; */
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease;
  margin-bottom: 10px;
}

 .memo_area.on{
  max-height: 200px;
} 

.memo_text{
  display: block;
  width: 95%;
  margin: 0 auto;
  padding: 10px;
  font-size: 13px;
  color: #333;
  line-height: 1.1;
  border-radius: 0.625rem;
  border: 1px solid #BAC9F6;
  background: #fff;
  height: 80px;
  outline: 0;
  transition: 0.4s background;
  border-radius: 6px;
  outline-color: #BAC9F6;
  box-sizing: border-box;
}

.memo_text:focus-visible{
  /* outline: 1px solid #BAC9F6; */
  background: #ffffff59;
}

.memo_text::-webkit-scrollbar {
  width: 6px;
}

.memo_text::-webkit-scrollbar-thumb{
  height: 30px; 
  background: #81b5fd; 
  
  border-radius: 10px;
}

.memo_text::-webkit-scrollbar-track{
  background: rgba(33, 122, 244, .1);
}

.memo_area .btn_area{
  justify-content: end;
  width: 95%;
  margin: 11px auto;
  gap: 1rem;
  padding: 0 1rem;
  box-sizing: border-box;
}

.btn_area .cancle_memo,
.btn_area .save_memo{
  position: relative;
  display: flex;
  width: 6.4375rem;
  padding: 0.5rem 0;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 1.875rem;
  cursor: pointer;
  background: #BAC9F6;
  color: #202020;
  z-index: 1;
  transition: color 0.26s linear;
}

.btn_area .cancle_memo{
  border: 1px solid #BAC9F6;
  background: #FFF;
}

.btn_area .cancle_memo::after,
.btn_area .save_memo::after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #dde7f3;
  transition: clip-path 0.1s linear;
  clip-path: inset(5% 50% 15% 50%);
  z-index: -1;
}

.btn_area .save_memo::after{
  background: #fff;
}

.btn_area .cancle_memo:hover::after,
.btn_area .save_memo:hover::after,
.btn_area .cancle_memo:focus::after,
.btn_area .save_memo:focus::after{
  clip-path: inset(0 0 0 0);
}

.btn_area .cancle_memo:focus,
.btn_area .save_memo:focus{
  transform: scale(0.95);
}

.btn_area .save_memo:hover,
.btn_area .save_memo:focus{
  color: #BAC9F6;
  border: 1px solid #BAC9F6;
}

/* edit 모드 */

.word.edit{
  /* background: #dde7f3; */
  background: #edf5ff;
}

.edit .mean_wrap{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 10px;
  padding: 0;
  background: none;
  color: #202020;
}

.edit .top_area{
  padding-bottom: 10px;
  border-radius: 1.875rem;
  color: #946CF4;
}

.edit .top_area span{
  font-size: 1.25rem;
  /* margin-left: 10px; */
}

.edit input{
  background: #fff;
  opacity: 0.6;
  transition: 0.3s ease-in;
  padding: 3px 15px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-sizing: border-box;
  border-radius: 1.875rem;
  font-size: 1rem;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.edit .synonym_wrap::after{
  content: "";
  display: block;
  clear: both;
}

.edit .synonym_wrap span{
  margin-bottom: 15px;
  font-size: 1rem;
}

.edit .synonym_cont{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: start;
  gap: 1rem;
}

.edit .synonym_add{
  width: 100%;
  /* margin: 10px 36px 10px 0; */
  align-items: center;
}

.edit .synonym_add:nth-child(5n){
  margin-right: 0;
}

.edit .synonym_cont input{
  /* width: 170px; */
  width: 80%;
  height: 24px;
  font-size: 0.875rem;
  padding: 3px 0;
  text-indent: 15px;
  margin-right: 5px;
  box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.edit input:focus{
  opacity: 1;
}

.edit .synonym_add button{
  width: 20%;
  background: none;
  height: 20px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.4s;
  /* padding: 0 10px; */
}

.edit .synonym_add button:hover,
.edit .synonym_add button:focus-visible{
  opacity: 0.5;
}

.edit .top_area .headset{
  display: none;
}

.edit .synonym_plus_cont{
  width: 80%;
}

.edit .synonym_plus{
  width: 100%;
  height: 26px;
  font-size: 19px;
  background: #BAC9F6;
  /* background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%); */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
  border-radius: 20px;
  transition: 0.4s;
  line-height: 30px;
  color: #fff;
}

.edit .synonym_plus:hover,
.edit .synonym_plus:focus
{
  opacity: 0.7;
}

.edit .check{
  color: #03CDBF;
}

/* 미디어쿼리 */

@media (max-width: 1280px) {
  .wrap {
    width: 90%;
  }
  .search_wrap{
    width: 100%;
  }
  .edit .synonym_cont{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  html body{
    font-size: 14px;
  }
  .search_wrap{
    z-index: 100;
  }
  .search_icon{
    font-size: 26px;
  }
  .s_text{
    font-size: 14px;
    padding: 5px 15px;
  }
  .word_plus_wrap .word_plus{
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .folder_wrap{
    display: none;
  }
  .word_tab_area{
    margin-top: 5rem;
  }
  .word_plus_mobile{
    display: block;
    visibility: visible;
    opacity: 1;
  }
  .word_wrap{
    /* margin: 110px 0; */
  }
  .top_area{
    gap: 0.1rem;
  }
  .synonym_wrap{
    padding: 15px 0;
  }
  .synonym_wrap span{
    margin-right: 8px;
    padding: 5px 2px;
  }
  .folder_cont li{
    font-size: 14px;
  }
  .top_area span, .top_area .xi-headset::before{
    font-size: 20px;
  }
  .pen, .check, .memo, .close{
    font-size: 20px;
  }
  .btn_area .cancle_memo, .btn_area .save_memo{
    width: 3.875rem;
  height: 1.625rem;
  }
  .memo_text{
    width: 100%;
  }
  .memo_area .btn_area{
    padding: 0;
  }
  .top_area span{
    font-size: 1.25rem;
  }
  .search_wrap{
    position: fixed;
    top: 25px;
    width: 90%;
    padding: 0;
    backdrop-filter: blur(10px);
  }
  .seacrch_cont{
    background: none;
  }
  .edit .synonym_cont{
    grid-template-columns: repeat(1, 1fr);
  }
  .edit .synonym_add{
    gap: 10px;
  }
  .edit .synonym_cont input{
    width: 95%;
  }
  .edit .synonym_add button{
    width: 8%;
  }
  .edit .synonym_plus_cont{
    width: 100%;
  }
}