html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Open Sans', serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.wordPaper {
  display: block;
  position: absolute;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
}

/*
  INPUT TEXT
*/

/*
  INPUT, SEARCH_BUTTON frame
*/
.wordPaper .x8bc1b3ee {
  display: block;
  position: relative;
  /* width: 50%; */
    width: calc(50%);
    height: 56.00px;
    left: 50%;
    transform: translate(-50%);
    top: 61.00px;
  }

/*
  INPUT
*/
.text_input{
/*color:#70707099;*/
  border: none; 
  background: transparent;
  width: 96%;
  height: 48px;
  font-size: 30px;
  margin-left: 6px;
} 
  
input:focus {outline:none;}

/*
  SEARCH_BUTTON frame
*/
.wordPaper .x8bc1b3ee .x18458 {    
    display: block;
    position: absolute;
    width: 56.00px;
    height: 56.00px;
    left: 100%;
    top: 0.00px;
}

/*
  SEARCH_BUTTON
*/
.search_btn {
  width: 56.00px;
  height: 56.00px;
  left: 0.00px;
  top: 0.00px;
  background:url(/public/img/search_icon.png) no-repeat;
  border: none;
}

.search_btn:hover{
  background:url(/public/img/search_icon_over.png) no-repeat;
  border: none;
}

.plus_btn {
  position: absolute;
  width: 56.00px;
  height: 56.00px;
  left: 20%;
  top: 150.00px;
  background:url(/public/img/plus_icon.png) no-repeat;
  border: none;
}

.plus_btn:hover{
  background:url(/public/img/plus_icon_over.png) no-repeat;
  border: none;
}

.wordPaper .x8bc1b3ee .xf958f200 {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 15px;
  width: 100%;
  height: 56.00px;
  left: 0.00px;
  top: 0.00px;
}

.wordPaper .framec6cc90c6 {
  display: block;
  position: relative;
  width: 1024.00px;
  height: 810.00px;
  left: 50%;
  transform: translate(-50%);
  top: 178.00px;
}

.wordPaper .framec6cc90c6 .frame {
  display: block;
  position: relative;
  width: 1024.00px;
  height: 168.00px;
  left: 0.00px;
  top: 0.00px;
  padding-top: 40px;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 {
  display: block;
  position: relative;
  width: 966.00px;
  height: 127.00px;
  left: 30.00px;
}

.small_line{
  margin-top: 90px;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .wordea5202cf {
  display: block;
  position: relative;
  width: 471.00px;
  height: 127.00px;
  left: 0.00px;
  top: 0.00px;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .wordea5202cf .xd9f3fdf8 {    
  box-sizing: content-box;
  text-align: left;
  font-size: 23.00px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Noto Sans CJK KR', Arial;
  width: auto;  /* 텍스트 크기로 설정 */
}

.synonymsContainer{
  position: absolute;
  width: 500px;
  height: 34px;
  top: 95.50px;
  left: 80px;
  display: flex;  /* 요소 가로 정렬 */
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .wordea5202cf .x16d628d6 {
  position: relative;
  text-align: left;
  font-size: 41.00px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Noto Sans CJK KR', Arial;
  width: 430.00px;
  height: 61.00px;
  left: 20.00px;
  top: 25px;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .wordea5202cf .xe5e28e22 {
  display: block;
  position: absolute;
  width: 62.00px;
  height: 28.00px;
  left: 3.00px;
  top: 99.00px;
}

/*
  유의어 rect
*/

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .wordea5202cf .xe5e28e22 .bgd197c3b9 {
    position: absolute;
    border-radius: 40px;
    background-color: #d14bba;
    width: 62.00px;
    height: 28.00px;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .wordea5202cf .xe5e28e22 .x5ee0a870 {
  position: relative;
  letter-spacing: -0.75px;
  color: #fff;
  font-size: 15.00px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Noto Sans CJK KR', Arial;
  width: 40.00px;
  height: 22.00px;
  left: 11.00px;
  top: 2px;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .wordea5202cf .x465a364d58 {
    position: absolute;
    border-top: solid #efefef 1px;
    width: 500.00px;
    height: 0.20px;
    left: 0.00px;
    top: 92.90px;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .wordea5202cf .xf63f2ca8 {
  position: absolute;
  letter-spacing: -0.85px;
  font-size: 17.00px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Noto Sans CJK KR', Arial;
  width: 75.00px;
  height: 25.00px;
  left: 21.00px;
  top: 0px;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .xd106727b {
  position: absolute;
  width: 372.00px;
  height: 52.00px;
  left: 594.00px;
  top: 35.00px;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .xd106727b .x4154b626 {
  position: absolute;
  letter-spacing: -2px;
  font-size: 28.00px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Noto Sans CJK KR', Arial;
  width: 252.00px;
  height: 52.00px;
  left: 0.00px;
  top: 5px;
  justify-content: center;
}

.wordPaper .framec6cc90c6 .frame .frame83f7e349 .xd106727b .xb9a31159 {
  position: absolute;
  width: 40.00px;
  height: 40.00px;
  left: 332.00px;
  top: 11.00px;
}

.delete_btn {
   width: 40.00px;
   height: 40.00px;
   background:url(/public/img/delete_icon.png) no-repeat; 
   border: none;
}

.delete_btn:hover{
  background:url(/public/img/delete_icon_over.png) no-repeat; 
}

.wordPaper .framec6cc90c6 .frame .x47abd6047f {
    position: absolute;
    border-top: solid 1px;
    width: 1024.00px;
    height: 1.00px;
    left: 0.00px;
    top: -0.50px;
}