
    /* position: fixed; */
    /* background-color: #0000004d;  */
    /* width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000; */

    .top-wrap{
      &.on{
        .modal-wrap{
          opacity: 1;
          visibility: visible;  
        }

      }
    }
  
    .modal-wrap {
      position: absolute;
      width: 0;
      height: 100%;
      box-sizing: border-box;
      background: #edf5ffa9;
      backdrop-filter: blur(10px);
      z-index: 1000;
      overflow: hidden;
      animation: slide 0.15s 25ms linear forwards;
      // animation: slide 3s 25ms linear forwards;
      padding-top: 2rem;
      visibility: hidden;
      transition: 0.15s linear;
      opacity: 0;
      &.on{
        @keyframes slide {
          0%{
           width: 0;
           opacity: 1;
            visibility: visible;
          }
          10%{
            opacity: 0;
          }
          100%{
            width: 360px;
            opacity: 1;
            visibility: visible;
          }
        }
      }
      &.off{
        //!! animation의 delay변경 시 Modals.jsx의 setTimeout도 동일한 시간으로 변경 필요함 !!
        animation: slide-off 0.15s 25ms linear forwards;
        @keyframes slide-off {
          0%{
            width: 360px;
          }
          100%{
            width: 0;
            opacity: 0;
            visibility: hidden;
          }
        }
      }
      .modal-cont{
        width: 80%;
        margin: 0 auto;
      }
      .close-area{
       display: flex;
       justify-content: flex-end;
      }
      .add-title {
        margin-bottom: 16px;
      }
      .lang-title{
        font-size: 1.2rem;
        font-weight: 500;
      }
        .btn-area {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2.25rem;
    }
    // 영어
    .add-e .add-word-cont {
      .add-v h3, .add-n h3 {
        padding: 1rem 0;
      }
  
      .add-v, .add-n {
        display: flex;
        flex-direction: column;
        gap: 2rem;
      }
    }

    .add-word-cont {
      position: relative;
      overflow-y: auto;
      margin: 0 auto;
      padding-bottom: 1.2rem;
      max-height: 60vh;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .add-main{
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
      .add-sub{
        .sub-title{
          margin-bottom: 12px;
          font-size: 1rem;
          font-weight: 400;
          align-items: center;
          gap: 12px;
          i{
            font-size: 18px;
            cursor: pointer;
            padding: 2px;
            color: #946cf4;
          }
        }
        .sub-1,
        .sub-2{
          margin-bottom: 16px;
        }
        .sub-3{
          margin-bottom: 14px;
          gap: 12px;
          align-items: center;
          .box{
            flex-wrap: nowrap;
            gap: 12px;
            align-items: center;
            >div{
              min-width: 50px;
              padding: 6px 8px;
              height: 22px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 20px;
              background: #EBE2FF;
              box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
            }
            span{
              cursor: pointer;
              padding: 2px;
            }
          }
        }
        .box{
          display: flex;
          flex-wrap: wrap;
          gap: 7px;
          >div{
            min-width: 50px;
            padding: 6px 8px;
            height: 22px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            background: #FFF;
            cursor: pointer;
            &.on{
              background: #F7F5FC;
              
            }
            /* shadow1 */
            box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
            &.sub-add{
              min-width: 20px;
              width: 20px;
              height: 20px;
              padding: 6px;
              background: #FFF;
              color: #946cf4;
              i{
                font-weight: bold;
              }
            }
          }
        }
      }
  
      input {
        width: 98%;
        background-color: #fff;
        border-radius: 20px;
  
        /* border: 1px solid  rgba(200, 200, 200, 1); */
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
        text-indent: 20px;
        box-sizing: border-box;
        font-size: 1rem;
      }
      input[name="synonyms"] {
        width: 90%;
      }
  
      .add-label {
        font-size: 1rem;
      }
    }
    
    .add-word-area {
      display: flex;
      flex-direction: column;
      gap: 14px;
      .input-area {
        display: flex;
        align-items: center;
        gap: 16px;
      }
      .plus_btn, .minus_btn {
        min-width: 30px;
        height: 30px;
        padding: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        background: #FFF;
        margin-right: 4px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.36s ease;
        box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
      }
    
      .plus_btn:hover, .minus_btn:hover {
        color: #a885f8;
      }
    }
    }
  
  
  /* 임의의 영역 생성 */
  
  .scrollBar {
    width: 200px;
    height: 60vh;
    overflow-y: scroll;
  }
  
  /* 아래의 모든 코드는 영역::코드로 사용 */
  
  .add-word-cont {
    &::-webkit-scrollbar {
      display: none;
      width: 2px;
  
      /* 스크롤바의 너비 */
    }
  
    &::-webkit-scrollbar-thumb {
      height: 30px;
  
      /* 스크롤바의 길이 */
      background: #81b5fd;
  
      /* 스크롤바의 색상 */
  
      border-radius: 10px;
    }
  }
  
  body::-webkit-scrollbar-thumb {
    height: 30px;
  
    /* 스크롤바의 길이 */
    background: #81b5fd;
  
    /* 스크롤바의 색상 */
  
    border-radius: 10px;
  }
  
  .add-word-cont::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
    background: rgba(33, 122, 244, 0.1);
  
    /*스크롤바 뒷 배경 색상*/
  }
  
  .delete {
    /* position: absolute;
    left: 85%;
    top: 18.00px; */
    font-size: 30px;
    color: #333;
    background: none;
  
    /* background:url(/public/img/delete_icon.png) no-repeat; */
    transition: color 0.2s ease;
    border: none;
    cursor: pointer;
  
    &:hover, &:focus {
      color: #666;
  
      /* content: "\e924"; */
    }
  }
  
  .save_btn {
    display: inline-flex;
    padding: 0.6875rem 6.375rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 1.875rem;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    transition: 0.4s ease;
    &:hover {
      background-position: right center;
  
      /* font-size: 26px; */
    }
  }

  @media (max-width: 767px) {
    .add-wrap {
      width: 100%;
  
      .add-word-cont {
        input {
          font-size: 0.875rem;
        }
  
        height: 351px;
      }
    }
  }
  