@import "@scss/components/lounge/tab.scss";
@import "@scss/components/lounge/permission.scss";

.lounge {
  @include layoutDefault;
  &_cont {
    @include cardToogle(transparent, $main-bg-color);
  }
  &_title {
    margin-bottom: 24px;
    padding: 0 14px;
    @include fontSize(m);
  }
  &_list-title {
    @include cardTitle;
  }
  &_list-title-sub {
    @include cardSubTitle;
  }
  &_list-title-dot {
    @include cardDot;
  }
  &_list-toggle-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &_list {
    @include wordList($default-fff, $main-bg-color);
  }
  &_list-mean {
    @include cardAccent;
    margin-top: 8px;
  }
  &_btn-fix {
    @include btnFix;
  }
}
