@import "@scss/components/lounge/tab.scss";
@import "@scss/components/lounge/permission.scss";

.lounge {
  &-wrap {
    padding: 16px 0;
  }
  &-cont {
    margin-top: 32px;
    @include cardToogle;
  }
  &-list-title {
    @include cardTitle;
  }
  &-list-title-sub {
    @include cardSubTitle;
  }
  &-list-title-dot {
    @include cardDot;
  }
  &-list-toggle-wrap {
    display: flex;
    flex-direction: column;
    gap: 16px;
    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &-list-mean {
    @include cardAccent;
    margin-top: 8px;
  }
  &-btn-fix {
    @include btnFix;
  }
}
