@import "@scss/components/user/user_config";

.my_page{
	&_wrap{
		margin: 24px 0;
		padding: $main-p;
	}
	&_list{
		font-size: 1em;
		li{
			height: 50px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			border-bottom: 1px solid $default-ddd;
			cursor: pointer;
			a{
				display: block;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
			}
			// 화살표
			&::after{
				content: url("/src/assets/images/next.svg");
			}
		}
	}
	&_email{
		margin-left: auto;
		padding-right: 12px;
		color: $default-ddd;
		font-size: 0.9em;
	}
}