.post{
	&_wrap{
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		padding: 24px 14px 0 14px;
	}
	&_lists{
		padding-bottom: 100px;
	}
	&_list{
		.post_list_admin{
			position: absolute;
			opacity: 0;
			visibility: hidden;
			transform: translateY(-10%);
		}
		.post_list_contents{
			display: none;
		}
		&.on{
			.post_list_head{
				border-bottom: 0;
			}
			.post_list_admin{
				position: relative;
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				transition: all 0.46s;
			}
			.post_list_contents{
				display: block;
				
			}
			.post_list_toggle{
				transform: translateY(-50%) rotate(180deg);
			}
		}
	}
	&_btn_wrap{
		position: fixed;
		bottom: 0;
		padding: 14px;
		width: 572px;
		background-color: $default-fff;
		@include deviceSmall(){
			left: 0;
			width: 100%;
		}
	}
}
.post_list{
	&_head{
		position: relative;
		padding: 14px 0;
		border-bottom: 1px solid $default-ddd;
		display: flex;
		flex-direction: column;
		gap: 8px;
		cursor: pointer;
		p{
			&:first-child{
				font-size: 12px;
				color: $sub-text-color;
			}
		}
	}
	&_title{
		padding-right: 40px;
		overflow: hidden;
		text-wrap: nowrap;
		text-overflow: ellipsis;
	}
	&_toggle{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		transition: all 0.46s;
		i{
			color: $default-ddd;
		}
	}
	&_contents{
		&_inner{
			font-size: 12px;
			padding: 10px;
			background-color: $main-bg-color;
			line-height: 20px;
			border-bottom: 1px solid $default-ddd;
			transition: all 0.46s;
		}
	}
	&_admin{
		display: flex;
		align-items: center;
		gap: 16px;
		padding-bottom: 12px;
		font-size: 12px;
		color: $sub-text-color;
		margin-left: -4px;
		> span{
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 4px;
			cursor: pointer;
			&:first-child{
				&::before{
					content: none;
				}
			}
			&::before{
				content: "";
				position: absolute;
				top: 50%;
				left: -8px;
				transform: translateY(-50%);
				display: block;
				width: 1px;
				height: 10px;
				background-color: $default-ddd;
			}
		}
	}
}

.post_edit{
	.ProseMirror{
		font-family: "PretendardJP";
	}
	.toastui-editor-defaultUI{
		border-radius: 8px;
		border: 1px solid $default-ddd;
	}
	.toastui-editor-defaultUI-toolbar{
		border-radius: 8px 8px 0 0;
		background-color: $main-bg-color;
	}
	.toastui-editor-md-mode{
		+ .toastui-editor-mode-switch{
			background-color: transparent;
		}
	}
	.toastui-editor-ww-mode{
		+ .toastui-editor-mode-switch{
			background-color: $default-fff;
		}
	}
	.toastui-editor-mode-switch{
		border-radius: 0 0 8px 8px;
		border: none;
		.tab-item{
			margin-top: 0;
			border: 1px solid $default-ddd;
			border-radius: 0;
			background-color: $main-bg-color;
			&.active{
				border-top: 1px solid $default-ddd;
			}
		}
	}
	.toastui-editor-popup{
		margin-left: auto;
	}
}