.comp{
	&_wrap{
		position: relative;
	}
	&_cont{
		@include deviceMedium(){
			overflow: hidden;
		}
		.off{
			display: none;
		}
	}
	&_confetti{
		position: fixed;
		width: 1000px;
		top: 50%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%,-50%);
	}
	&_area{
		min-height: 50vh;
		max-height: 100%;
		display: grid;
		h2{
			text-align: center;
			line-height: 32px;
			margin-bottom: 0;
		}
	}
	&_title{
		align-self: center;
	}
	&_btn_wrap{
		position: relative;
		z-index: 2;
		padding: 24px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(5%);
		transition: 0.3s ease;
	}
}
// 닉네임 이미지 정하기
.comp_choose{

	&_input_wrap{
		margin-top: 24px;
	}
}

// animation
.comp_ani{
	&_title{
		font-size: 20px;
		line-height: 28px;
		text-align: center;
		transform: translateY(100%);
	}
	&_box{
		opacity: 0;
		visibility: hidden;
		transform: translateY(10%);
	}
	&.active{
		.comp_ani{
			&_title{
				animation: titleUp 0.4s 100ms linear forwards;
			}
			&_box{
				animation: appearBox 0.5s 500ms linear forwards;
			}
			&_btn{
				animation: appearBox 0.5s 1s linear forwards;
			}
		}
	}
}

// 스와이퍼
.comp_swiper{
	&_wrap{
		width: 310px;
	}
	&_slide{
		height: 300px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@keyframes titleUp {
	20%{
		transform: translateY(100%);
	}
	100%{
		transform: none;
	}
}
@keyframes appearBox {
	0%{
		opacity: 0;
		visibility: hidden;
		transform: translateY(10%);
	}
	100%{
		opacity: 1;
		visibility: visible;
		transform: none;
	}
}