@import "@scss/components/learn/quiz.scss";
@import "@scss/components/learn/result.scss";
@import "@scss/components/learn/method_choose.scss";

.word_learn{
	&_wrap{
		position: relative;
		height: 92%;
		margin-top: 24px;
		padding: $main-p;
	}
	&_cont{
		height: 100%;
		padding-bottom: 80px;
	}
	&_vocabook_lists{
		margin-top: 24px;
		display: flex;
		flex-direction: column;
		gap: 12px;
		li{
			padding: 16px 10px;
			border: 1px solid $default-ddd;
			border-radius: $sub-br;
		}
	}
	&_btn_wrap{
		padding-top: 40px;
	}
}