@mixin card {
  padding-bottom: 80px;
  ul {
    padding: $main-p;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    li {
      // default값
      position: relative;
      padding: 16px 14px;
      background-color: $main-bg-color;
      border-radius: $sub-br;
      cursor: pointer;
      &.on,
      &:hover,
      &:focus-visible {
        background: #fff;
        color: $main-accent-color;
        box-shadow: 0 0 0.25rem $main-accent-color;
      }
    }
  }
  @content;
}

@mixin cardList($bg, $border) {
  position: relative;
  padding: 16px 14px;
  background-color: $bg;
	border: 1px solid $border;
  border-radius: $sub-br;
  z-index: 0;
  cursor: pointer;
  &.on,
  &:hover,
  &:focus-visible {
    background: #fff;
    color: $main-accent-color;
    box-shadow: 0 0 0.25rem $main-accent-color;
  }
  &_top {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding-right: 24px;
    text-wrap: balance;
    word-break: break-all;
    line-height: 1.2;
    button {
      width: 20px;
      height: 20px;
      font-size: 1em;
      color: $default-666;
    }
  }
  &_name {
    @include cardTitle();
  }
  &_sub {
    @include cardSubTitle();
  }
  &_more {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  &_dot {
    @include cardDot();
  }
  @content;
}

@mixin cardToogle {
  padding-bottom: 80px;
  ul {
    padding: $main-p;
    font-size: 14px;
    li {
      // default값
      cursor: pointer;
      > div:first-child {
        position: relative;
        padding: 16px 14px;
        background-color: $main-bg-color;
        border-radius: $sub-br;
        .toggle {
          position: absolute;
          top: 50%;
          right: 14px;
          transform: translateY(-50%);
          i {
            color: $sub-text-color;
          }
        }
      }
      > div:nth-child(2) {
        > div {
          padding: 16px 14px;
        }
      }
    }
  }
  @content;
}

@mixin cardTitle {
  font-weight: bold;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 12px;
  word-break: auto-phrase;
  text-wrap: balance;
  @content;
}

@mixin cardDot {
  width: 8px;
  height: 8px;
  flex-shrink: 0;
  border-radius: 50%;
  @content;
}

@mixin cardSubTitle {
  margin-top: 12px;
  @include fontSize(s);
  color: $sub-text-color;
  @content;
}

@mixin cardAccent {
  color: $main-accent-color;
  @content;
  @include fontSize(m);
}
