@mixin card {
  padding-bottom: 80px;
		ul{
			padding: $main-p;
			font-size: 14px;
			li {
				// default값
				position: relative;
				padding: 16px 14px;
				background-color: $main-bg-color;
				border-radius: $sub-br;
				cursor: pointer;
				&.on, &:hover, &:focus-visible {
					background: #fff;
					color: $main-accent-color;
					box-shadow: 0 0 0.25rem $main-accent-color;
				}
			}
		}
    @content;
}

@mixin cardToogle {
  padding-bottom: 80px;
		ul{
			padding: $main-p;
			font-size: 14px;
			li {
				// default값
				cursor: pointer;
				>div:first-child{
					position: relative;
					padding: 16px 14px;
					background-color: $main-bg-color;
					border-radius: $sub-br;
					.toggle{
						position: absolute;
						top: 50%;
						right: 14px;
						transform: translateY(-50%);
						i{
							color: $default-999;
						}
					}
				}
				>div:nth-child(2){
					>div{
						padding: 16px 14px;
					}
				}
			}
		}
    @content;
}

@mixin cardTitle {
  font-weight: bold;
  line-height: 18px;
  @content;
}

@mixin cardSubTitle {
  margin-top: 12px;
  font-size: 10px;
  color: $sub-text-color;
}