//main/sub - 성질 - 형태 순으로 입력
// default - 그대로 입력(#999 -> 999)
$main-accent-color: #946CF4;
$main-bg-color: #F7F5FC;
$main-hover-color : #C6B1E7;
$main-text-color: #4A4453;

$sub-hover-color : #ECE3FF;
$sub-text-color: #AFA8BA;
$sub-bg-color: #EDF5FF;
$sub-correct-color: #356AFD;

$default-000: #000;
$default-666: #666;
$default-999: #999;
$default-ddd: #ddd;
$default-fff: #fff;
$default-error-color: #EB5252;
$wrong-color: #F4806C;
$wrong-bg-color: #FFF7F5;