/* 단어 형태사 컴포넌트 */
@mixin wordType {
  margin-top: 16px;
  flex-direction: column;
  gap: 0.75rem;
  text-wrap: balance;
  word-break: break-all;
  &_title {
    flex-shrink: 0;
    padding: 5px 7px;
    font-size: 0.825em;
    border-radius: $main-br;
    background: $sub-hover-color;
    @include deviceSmall() {
      align-self: flex-start;
    }
  }
  &_list {
    gap: 0.69rem;
    align-items: center;
  }
  &_cont {
    align-items: center;
    justify-content: flex-start;
    gap: 0.69rem;
    li {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
    &_title {
      color: $sub-text-color;
    }
    @include deviceSmall() {
      flex-wrap: wrap;
    }
  }
}